body {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    text-transform: uppercase;
    background: linear-gradient(to right,#FAC591, #361c02);
   
    
}
input {
    margin: 5px;
    height: 30px;
    background: #f0d1b2;
}
    .recover-container {
        width: 500px;
        height: 500px;
        display: flex;
        flex-direction: column;
        font-size: 20px;
        padding: 20px;
        margin: 20px;
        justify-content: center;
        align-items: center;
        
    }
    .gmail{
        margin: 10px;
        color: #fffefe;
    }
    .submit{
        margin: 10px;
        height: 35px;
        width: 180px;
        background-color: #814509;
        cursor: pointer;
        transition: ease-in-out 0.5s;
        color: white;
    }
    .submit:hover{
        background-color: #fffefe;
    }